---
layout: main
title: Gallery
order: 2
icon: fa-grip-horizontal
permalink: /gallery/
gallery:
  - caption: Image caption goes here
    file: https://images.unsplash.com/photo-1564447634829-4f4d15e2f846?ixlib=rb-1.2.1&auto=format&fit=crop&q=80
    aspectratio: portrait
  - caption: Cat
    file: https://images.unsplash.com/photo-1564452706399-5ad9eb828348?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio:
  - caption: The red car
    file: https://images.unsplash.com/photo-1564435148079-9933cfd96b6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio: portrait
  - caption: Lighthouse
    file: https://images.unsplash.com/photo-1564402355305-d650dd64d90e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio: portrait
  - caption: Blue bar
    file: https://images.unsplash.com/photo-1564483112530-722ed2a19bc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio: portrait
  - caption: Cat
    file: https://images.unsplash.com/photo-1564452706399-5ad9eb828348?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio:
  - caption: The red car
    file: https://images.unsplash.com/photo-1564435148079-9933cfd96b6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio: portrait
  - caption: Lighthouse
    file: https://images.unsplash.com/photo-1564402355305-d650dd64d90e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio: portrait
  - caption: Image caption goes here
    file: https://images.unsplash.com/photo-1564447634829-4f4d15e2f846?ixlib=rb-1.2.1&auto=format&fit=crop&q=80
    aspectratio: portrait
  - caption: Cat
    file: https://images.unsplash.com/photo-1564452706399-5ad9eb828348?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio:
  - caption: The red car
    file: https://images.unsplash.com/photo-1564435148079-9933cfd96b6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio: portrait
  - caption: Lighthouse
    file: https://images.unsplash.com/photo-1564402355305-d650dd64d90e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio: portrait
  - caption: Blue bar
    file: https://images.unsplash.com/photo-1564483112530-722ed2a19bc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio: portrait
  - caption: Cat
    file: https://images.unsplash.com/photo-1564452706399-5ad9eb828348?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio:
  - caption: The red car
    file: https://images.unsplash.com/photo-1564435148079-9933cfd96b6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio: portrait
  - caption: Lighthouse
    file: https://images.unsplash.com/photo-1564402355305-d650dd64d90e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
    aspectratio: portrait
  - caption: Blue bar
    file: https://images.unsplash.com/photo-1564483112530-722ed2a19bc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&q=80
---

<section>
    <div class="content">
        
        <ul class="gallery">
            {% for item in page.gallery %}
            <li{% if item.aspectratio %} class="{{ item.aspectratio }}"{% endif %}>
                <input type="checkbox" name="gallery_item_{{ forloop.index }}" id="gallery_item_{{ forloop.index }}">
                <label for="gallery_item_{{ forloop.index }}">
                    <span><img src="{{ item.file }}&w=300" alt=""></span>
                    <strong>{{ item.caption }}</strong>
                </label>
                <a href="{{ item.file }}&w=960" target="_blank">
                    <span><img src="{{ item.file }}&w=600" alt=""></span>
                    <strong>{{ item.caption }}</strong>
                </a>
                <label class="close" for="gallery_item_{{ forloop.index }}"><i class="fas fa-times"></i></label>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<div class="modal">
    <div class="inner">
        <span><img src="https://images.unsplash.com/photo-1563285950-63fab3e6bb84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2350&q=80" alt=""></span>
    </div>
</div>