<article class="article {{ include.class }}">
    <div class="media">
        <img src="https://images.unsplash.com/photo-1563985336376-568060942b80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&dpr=1&auto=format&w=512&q=80">
    </div>
    <header>
        <h3>Title goes here</h3>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis non odit sordidos, vanos, leves, futtiles? Iis igitur est difficilius satis facere, qui se Latina scripta dicunt contemnere. Sed ille, ut dixi, vitiose.</p>
    <a href="#" class="button">Read more</a>
</article>
