<nav class="site-nav location-{{ include.location }}">
        <ul>
            <li class="selected">
                <a href="/SeenIt">Follow me on social media</a>          
                <ul>              
                    <li class="selected">
                        <a href="/SeenIt">LinkedIn</a>
                    </li class="selected">
                    <li class="selected">
                        <a href="/SeenIt/popular/">Instagram</a>
                    </li class="selected">
                    <li class="selected">
                        <a href="/SeenIt/new/">Facebook</a>
                    </li>     
                </ul>           
            </li> 
        </ul>    
    </nav>