<nav class="site-nav location-{{ include.location }}">
    <ul>
        <li class="selected">
            <a href="/SeenIt">Posts</a>          
            <ul>              
                <li class="selected">
                    <a href="/SeenIt">All</a>
                </li class="selected">
                <li>
                    <a href="/SeenIt/popular/">Popular</a>
                </li class="selected">
                <li>
                    <a href="/SeenIt/new/">New</a>
                </li>     
            </ul>           
        </li>
        <li>
            <a href="/SeenIt/about/">              
                About
            </a>
        </li> 
        <li class="selected">
            <a href="#">
                <i class="fas fa-id-card-alt"></i> Themes
            </a>
            <ul>        
                <li class="selected">
                    <a href="#" onclick="changeToWhite()">White</a>
                </li>
            
                <li class="selected">
                    <a href="#" onclick="changeToDark()">Dark</a>
                </li>
            </ul>            
        </li>    
    </ul>    
</nav>