@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap");
:root {
  --font-size-body-small: 10px;
  --font-size-body: 14px;
  --font-size-body-larger: 16px;
  --font-size-body-big: 18px;
  --font-size-body-huge: 20px;
  --font-size-body-enormous: 24px;
  --layout-main-width: 60em;
  --layout-about-width: 80em;
  --color-body-text: #000;
  --color-body-bgrd: #FFF;
  --color-link-default: #ff8000;
  --color-border-default: #999;
  --spacing-layout-elements: 0.5em; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font: var(--font-size-body)/1.5 "Roboto Slab", serif; }

@media (min-width: 600px) {
  html {
    font-size: var(--font-size-body-larger, 16px); } }

@media (min-width: 1024px) {
  html {
    font-size: var(--font-size-body-big, 18px); } }

@media (min-width: 1600px) {
  html {
    font-size: var(--font-size-body-huge, 20px); } }

body, table, form, select, option, input, textarea {
  font: inherit;
  background: var(--color-body-bgrd, #FFF);
  color: var(--color-body-text, #000); }

.site-title,
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: normal;
  font-family: Merriweather, serif; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2.0em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.0em; }

a {
  text-decoration: none;
  color: var(--color-link-default, #0A0); }

p, ul, ol {
  padding-bottom: 1.5em; }

ul, ol {
  padding-left: 2em; }

ul ul, ol ul, ul ol, ol ol {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

ol > li > ol > li {
  list-style-type: lower-roman; }

blockquote {
  padding: 1rem; }

blockquote .author {
  font-style: italic;
  text-align: right;
  opacity: 0.5; }

blockquote .author:before {
  display: inline-block;
  content: '\2014';
  padding-right: 0.5em; }

.button {
  display: inline-block;
  padding: 0.5em 1.5em;
  background-color: var(--color-link-default);
  color: var(--color-body-bgrd);
  border-radius: 0.3em;
  border: 1px solid transparent; }
  .button:hover {
    background-color: var(--color-body-bgrd);
    color: var(--color-link-default);
    border-color: var(--color-link-default); }
  .button-secondary {
    background-color: var(--color-body-bgrd);
    color: var(--color-link-default);
    border-color: var(--color-link-default); }
    .button-secondary:hover {
      text-decoration: underline; }
  .button-wrapper {
    display: flex; }
    .button-wrapper .button {
      display: block; }
      .button-wrapper .button + .button {
        margin-left: 1em; }

.site-posts {
  max-width: var(--layout-main-width);
  margin: 0 auto;
  padding: 2em; }
  @media (min-width: 1024px) {
    .site-posts {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 4em;
      grid-template-areas: "header header header header" "main main sidebar sidebar" "post post post post" "post post post post" "post post post post" "post post post post" "footer footer footer footer"; }
      .site-posts .site-header {
        grid-area: header; }
      .site-posts .site-post {
        grid-area: post; }
      .site-posts .site-main {
        grid-area: main; }
      .site-posts .site-sidebar {
        grid-area: sidebar; }
      .site-posts .site-footer {
        display: flex;
        grid-area: footer;
        justify-content: space-between;
        align-items: center; }
      .site-posts .site-header {
        display: flex;
        align-items: center; }
      .site-posts .site-header nav {
        margin-left: auto; }
      .site-posts .site-header-right nav {
        margin-right: auto; }
      .site-posts .nav-item-right {
        float: left; } }

.page-blog .site {
  grid-template-areas: "header header" "main main" "footer footer"; }

.mag {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2em; }

.mag .content {
  display: contents; }

.mag .article {
  grid-column: span 2;
  padding-bottom: 2em; }

.mag .article.featured {
  grid-column: span 4; }

.mag .article.huge {
  grid-column: span 6; }

.mag .article .media {
  position: relative;
  overflow: hidden;
  border-radius: 0.3em;
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 1em; }

.mag .article .media:before {
  display: block;
  content: '';
  padding-top: 56.25%; }

.mag .article .media img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto; }

.site-header {
  border-bottom: 1px solid var(--color-border-default);
  margin-bottom: var(--spacing-layout-elements);
  padding-bottom: calc( var(--spacing-layout-elements)  / 2); }

.site-title {
  margin: 0;
  padding: 0;
  font-size: 2em; }
  .site-title a {
    display: block;
    padding: 0.5em 0; }

.site-footer {
  border-top: 1px solid var(--color-border-default);
  margin-top: var(--spacing-layout-elements);
  padding-top: calc( var(--spacing-layout-elements) / 2);
  color: #ff8000; }

.site-nav > ul {
  display: flex;
  padding: 0; }
  .site-nav > ul ul {
    display: block;
    pointer-events: none;
    padding: 0.5em;
    position: absolute;
    top: 100%;
    left: 0;
    width: 15em;
    z-index: 1; }
    .site-nav > ul ul li {
      opacity: 0;
      transform: translateY(-1em);
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; }
      .site-nav > ul ul li:nth-child(1) {
        transition-delay: 0.1s; }
      .site-nav > ul ul li:nth-child(2) {
        transition-delay: 0.2s; }
      .site-nav > ul ul li:nth-child(3) {
        transition-delay: 0.3s; }
      .site-nav > ul ul li:nth-child(4) {
        transition-delay: 0.4s; }
      .site-nav > ul ul li:nth-child(5) {
        transition-delay: 0.5s; }
      .site-nav > ul ul li:nth-child(6) {
        transition-delay: 0.6s; }
      .site-nav > ul ul li:nth-child(7) {
        transition-delay: 0.7s; }
      .site-nav > ul ul li:nth-child(8) {
        transition-delay: 0.8s; }
      .site-nav > ul ul li:nth-child(9) {
        transition-delay: 0.9s; }
      .site-nav > ul ul li:nth-child(10) {
        transition-delay: 1s; }

.site-nav li {
  display: block;
  list-style: none outside;
  padding: 0 0.5em;
  position: relative; }
  .site-nav li li {
    padding: 0; }
    .site-nav li li:not(:last-child) {
      margin-bottom: 0.5em; }
  .site-nav li:hover ul {
    z-index: 100;
    pointer-events: all; }
  .site-nav li:hover li {
    opacity: 1;
    transform: translateY(0); }

.site-nav > li:first-child {
  padding-left: 0; }

.site-nav a {
  display: block;
  padding: 0.5em 1em;
  border-radius: 0.3em; }

.site-nav li:hover > a,
.site-nav li.selected > a,
.site-nav a:hover {
  background: var(--color-link-default);
  color: var(--color-body-bgrd); }

.site-nav a i.fas:before {
  color: #000;
  margin-right: 0.5em; }

.site-nav li:hover > a i.fas:before,
.site-nav li.selected > a i.fas:before,
.site-nav a:hover i.fas:before {
  color: #FFF; }

.page-animations .site-main h1,
.page-animations .site-header,
.page-animations .site-footer {
  display: none; }

.page-animations {
  min-height: 100vh; }

.box {
  width: 20em;
  height: 15em;
  border: 2px solid #000;
  margin: 2em auto;
  background: #EEE; }

.box:hover {
  -webkit-animation: shake 0.5s ease;
          animation: shake 0.5s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-2em, -2em); }
  to {
    opacity: 1;
    transform: translate(0); } }

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translate(-2em, -2em); }
  to {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

@-webkit-keyframes slideInFromRight {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

@-webkit-keyframes shake {
  0% {
    transform: translateX(0); }
  20% {
    transform: translateX(-2em); }
  40% {
    transform: translateX(2em); }
  60% {
    transform: translateX(-1em); }
  80% {
    transform: translateX(1em); }
  100% {
    transform: translateX(0); } }

@keyframes shake {
  0% {
    transform: translateX(0); }
  20% {
    transform: translateX(-2em); }
  40% {
    transform: translateX(2em); }
  60% {
    transform: translateX(-1em); }
  80% {
    transform: translateX(1em); }
  100% {
    transform: translateX(0); } }

@-webkit-keyframes around {
  0% {
    top: 0;
    left: 0; }
  25% {
    top: 0;
    left: calc(100% - 5rem); }
  50% {
    top: calc(100% - 5rem);
    left: calc(100% - 5rem); }
  75% {
    top: calc(100% - 5rem);
    left: 0; }
  100% {
    top: 0;
    left: 0; } }

@keyframes around {
  0% {
    top: 0;
    left: 0; }
  25% {
    top: 0;
    left: calc(100% - 5rem); }
  50% {
    top: calc(100% - 5rem);
    left: calc(100% - 5rem); }
  75% {
    top: calc(100% - 5rem);
    left: 0; }
  100% {
    top: 0;
    left: 0; } }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none; }

.modal .inner {
  max-width: 90vw;
  max-height: 90vh;
  display: block;
  background: #FFF;
  padding: 2em;
  border-radius: 0.3em;
  box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.5);
  overflow: hidden; }

.modal .inner img {
  display: block;
  width: 100%;
  height: auto; }

/*
 * Layout rules for Gallery page
 * Update Grid areas
 */
@media (min-width: 1024px) {
  .page-gallery .site {
    grid-template-areas: "header header" "main main" "footer footer"; } }

/*
 * Gallery styles
 */
.gallery {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
  grid-auto-flow: dense; }
  .gallery a,
  .gallery span,
  .gallery img {
    display: block; }
  .gallery input {
    display: none; }
  .gallery img {
    width: 100%;
    height: auto; }
  .gallery li {
    display: block;
    list-style: none outside;
    overflow: hidden;
    grid-column: span 2; }
    .gallery li:hover {
      outline: 0.5em solid #000; }
    .gallery li label {
      display: block;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      transition: transform 0.3s ease-in-out; }
      .gallery li label:hover {
        transform: scale(1.1); }
      .gallery li label span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
      .gallery li label strong {
        display: none; }
      .gallery li label:before {
        display: block;
        content: '';
        padding-top: calc(50% - 1em); }
      .gallery li label.close {
        display: none;
        font-size: 2em;
        width: 2em;
        height: 2em;
        line-height: 1;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease-in-out;
        position: fixed;
        top: 1em;
        right: 1em;
        background: #000;
        color: #FFF;
        z-index: 300; }
        .gallery li label.close:hover {
          transform: scale(1.1);
          outline: 0.5em solid #FFF; }
    .gallery li input:checked ~ label.close {
      display: flex; }
    .gallery li input:checked ~ a {
      display: flex; }
    .gallery li a {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50vw;
      height: 80vh;
      overflow: hidden;
      z-index: 100;
      box-shadow: 0 0 100vw 100vw rgba(0, 0, 0, 0.9);
      background: rgba(0, 0, 0, 0.9); }
      .gallery li a span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
      .gallery li a img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .gallery li a strong {
        display: none; }
    .gallery li.portrait {
      grid-column: span 1;
      grid-row: span 2; }
      .gallery li.portrait label:before {
        display: flex;
        padding-top: 200%; }
      .gallery li.portrait a img {
        height: 100%;
        width: auto; }
    .gallery li.small img,
    .gallery li.portrait img {
      width: auto;
      height: 100%; }
    .gallery li.small {
      grid-column: span 1;
      grid-row: span 1; }
      .gallery li.small:before {
        padding-top: 100%; }

@media (max-width: 1023px) {
  .site-posts .site-header {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .site-posts .site-header nav {
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: column; }
  .site-posts .site-header-right nav {
    margin-right: auto; }
  .site-posts .posts a {
    font-size: var(--font-size-body-huge); }
  .site-posts .posts a:nth-child(2) {
    font-size: var(--font-size-body-larger); }
  .site-posts .posts a:nth-child(3) {
    font-size: var(--font-size-body-larger); }
  .site-posts .posts a:nth-child(4) {
    font-size: var(--font-size-body-larger); } }

@media (max-width: 650px) {
  .site-posts .site-header {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .site-posts .site-header nav {
      margin: 0 auto;
      display: flex;
      align-items: center;
      flex-direction: column; }
  .site-posts .site-header-right nav {
    margin-right: auto; }
  .site-posts .posts a {
    font-size: var(--font-size-body-larger); }
  .site-posts .posts a:nth-child(2) {
    font-size: var(--font-size-body-small); }
  .site-posts .posts a:nth-child(3) {
    font-size: var(--font-size-body-small); }
  .site-posts .posts a:nth-child(4) {
    font-size: var(--font-size-body-small); } }

.post {
  text-decoration: none;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
  padding: 0.2em;
  box-sizing: border-box;
  -webkit-animation: 1s ease-out 0s 1 slideInFromLeft;
          animation: 1s ease-out 0s 1 slideInFromLeft; }
  .post:nth-child(even) {
    -webkit-animation: 1s ease-out 0s 1 slideInFromRight;
            animation: 1s ease-out 0s 1 slideInFromRight; }

.posts {
  margin: 0;
  padding: 0;
  list-style: none; }
  .posts a {
    font-size: var(--font-size-body-enormous);
    padding-left: 0.5em;
    padding-top: 0.2em; }
  .posts a span {
    margin-right: 1em; }
  .posts a:nth-child(2) {
    font-size: var(--font-size-body-larger);
    padding-left: 0.8em;
    padding-top: 0.1em;
    padding-bottom: 0.5em; }
  .posts a:nth-child(3) {
    font-size: var(--font-size-body-larger);
    padding-left: 0.8em;
    padding-top: 0.1em;
    padding-bottom: 0.5em; }
  .posts a:nth-child(4) {
    font-size: var(--font-size-body-larger);
    padding-left: 0.8em;
    padding-top: 0.1em;
    padding-bottom: 0.5em; }
  .posts i {
    transition: transform 0.4s ease-in-out; }
  .posts i[class~="fa-arrow-up"]:hover {
    color: red;
    transform: rotate(360deg); }
  .posts i[class~="fa-arrow-down"]:hover {
    color: blue;
    transform: rotate(360deg); }

.comments span {
  padding: 0.3em;
  border-radius: 3px; }

.body-white {
  background: var(--color-body-bgrd); }

.body-dark {
  background: darkslategray; }

.post-white a {
  color: black; }

.post-white:hover {
  border: 1px solid black; }

.post-dark a {
  color: white; }

.post-dark:hover {
  border: 1px solid white; }

.posts-white a:nth-child(2) {
  color: darkgray; }

.posts-dark a:nth-child(2) {
  color: darkgray; }

.comments-white span:hover {
  background-color: gray; }

.comments-dark span:hover {
  background-color: black; }

.button-white {
  background-color: #EEE;
  color: black; }

.button-dark {
  background-color: gray;
  color: white; }

.site-about {
  max-width: var(--layout-about-width);
  margin: 0 auto;
  padding: 2em;
  display: grid;
  grid-template-columns: 5fr;
  grid-column-gap: 4em;
  grid-template-areas: "header header header" "banner banner banner" "banner banner banner" "info info info" "info info info" "projects projects projects" "projects projects projects" "footer footer footer"; }
  .site-about .site-header {
    grid-area: header; }
  .site-about .banner {
    grid-area: banner; }
  .site-about .personal-info {
    grid-area: info; }
  .site-about .projects {
    grid-area: projects; }
  .site-about .site-footer {
    display: flex;
    grid-area: footer;
    justify-content: space-between;
    align-items: center; }
  .site-about .site-header {
    display: flex;
    align-items: center; }
  .site-about .site-header nav {
    margin-left: auto; }
  .site-about .site-header-right nav {
    margin-right: auto; }
  .site-about .nav-item-right {
    float: left; }
  @media (max-width: 1023px) {
    .site-about {
      grid-template-columns: 3fr;
      grid-column-gap: 2em; }
      .site-about .info {
        font-size: var(--font-size-body-larger); }
      .site-about .heading {
        top: 70%;
        right: 32%;
        font-size: 30px; }
      .site-about .overlay {
        width: 100px;
        height: 100px;
        right: 45%;
        top: 30%; }
      .site-about .backgroud {
        width: 50%;
        height: 50%; }
      .site-about .project-image {
        width: 300px;
        height: 200px; }
      .site-about .project-description {
        width: 300px;
        height: 200px;
        justify-content: center;
        font-size: var(--font-size-body-larger); }
      .site-about .site-footer {
        display: flex;
        grid-area: footer;
        justify-content: space-between;
        align-items: center; }
      .site-about .site-header {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .site-about .site-header nav {
          margin: 0 auto;
          display: flex;
          align-items: center;
          flex-direction: column; }
      .site-about .site-header-right nav {
        margin-right: auto; } }
  @media (max-width: 650px) {
    .site-about {
      grid-template-columns: 3fr;
      grid-column-gap: 2em; }
      .site-about .info {
        font-size: var(--font-size-body-small); }
      .site-about .heading {
        top: 50%;
        right: 24%;
        font-size: var(--font-size-body-huge); }
      .site-about .overlay {
        width: 80px;
        height: 80px;
        right: 37%;
        top: 30%; }
      .site-about .backgroud {
        width: 30%;
        height: 30%; }
      .site-about .project-image {
        width: 150px;
        height: 100px; }
      .site-about .project-description {
        width: 150px;
        height: 100px;
        justify-content: center;
        font-size: 10px; }
      .site-about .site-footer {
        display: flex;
        grid-area: footer;
        justify-content: space-between;
        align-items: center; }
      .site-about .site-header {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .site-about .site-header nav {
          margin: 0 auto;
          display: flex;
          align-items: center;
          flex-direction: column; }
      .site-about .site-header-right nav {
        margin-right: auto; }
      .site-about .nav-item-right {
        float: left; } }

.about {
  font-family: 'Work Sans', sans-serif;
  margin-left: 5em; }

.info {
  text-align: center;
  vertical-align: middle;
  font-size: var(--font-size-body-enormous); }

h1 {
  border-color: black; }

.background {
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1%; }

.overlay {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 45%;
  top: 30%;
  border-radius: 50%;
  opacity: 0.9;
  box-shadow: 2px 2px 31px 10px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 2px 2px 31px 10px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 2px 2px 31px 10px rgba(0, 0, 0, 0.55); }

.heading {
  position: absolute;
  top: 70%;
  right: 35%;
  font-size: 50px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.right {
  text-align: right; }

.projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.project {
  position: relative;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em; }
  .project-image {
    width: 400px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-color: black; }

.project-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 300px;
  background: gray;
  color: white;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  font-size: 26px;
  transition: opacity .2s, visibility .2s;
  display: block; }

.project:hover .project-description {
  visibility: visible;
  opacity: 0.9; }

.description {
  text-align: center;
  transition: .2s;
  transform: translateY(1em); }

.project:hover .description {
  transform: translateY(0); }
