.posts-white a {
  color: black; }

.posts-white :hover {
  border: 1px solid black; }

.posts-white a:nth-child(2) {
  color: darkgray; }

.posts-white i[class~="fa-arrow-up"]:hover {
  color: red;
  transform: rotate(360deg); }

.posts-white i[class~="fa-arrow-down"]:hover {
  color: blue;
  transform: rotate(360deg); }
