.button {
    display: inline-block;
    padding: 0.5em 1.5em;
    background-color: var(--color-link-default);
    color: var(--color-body-bgrd);
    border-radius: 0.3em;
    border: 1px solid transparent;

    &:hover {
        background-color: var(--color-body-bgrd);
        color: var(--color-link-default);
        border-color: var(--color-link-default);
    }

    &-secondary {
        background-color: var(--color-body-bgrd);
        color: var(--color-link-default);
        border-color: var(--color-link-default);

        &:hover {
            text-decoration: underline;
        }    
    }

    &-wrapper {
        display: flex;

        .button {
            display: block;

            & + .button {
                margin-left: 1em;
            }
        }
    }

}
