.gallery {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    a {
        width: 100%;
        display: flex;
        align-items: center;
        border: 0.5em solid #222;
        justify-content: center;
        padding: 1em;

        &:hover span:before {
            opacity: 0;
        }
    }

    span {
        display: block;
        position: relative;

        &:before {
            display: block;
            content: '';
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            background: rgba(0,0,0,0.5);
            transition: opacity 0.3s ease-in;
        }

        &:after {
            display: block;
            content: '';
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            box-shadow: 0 0 0.2em 0 rgba(0,0,0,0.5) inset;
        }
    }

    li {
        flex: 0 0 100%;
        margin-bottom: 3%;
        list-style: none outside;
        background: #FFF;
        display: flex;
        position: relative;
        box-shadow: 0 0 1.5em 0.2em rgba(0,0,0,1);
        animation: slideIn 0.3s ease-in;
        animation-fill-mode: both;

        &:before {
            display: block;
            content: '';
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            box-shadow: 0 0 1.5em 0.5em rgba(0,0,0,1);
            opacity: 0;
            transition: opacity 0.3s ease-in;
        }

        &:hover:before {
            opacity: 1;
        }

        @include bp( mobile ) {
            flex: 0 0 47%;
            margin-bottom: 6%;
        }

        @include bp( laptop ) {
            flex: 0 0 30%;
            margin-bottom: 5%;
        }

        @for $i from 1 through 10 {
            &:nth-child(#{$i}) { animation-delay: $i * 0.1s; }
        }

    }
} 