.page-blog .site {
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

.mag {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2em;
}

.mag .content {
    display: contents;
}

.mag .article {
    grid-column: span 2;
    padding-bottom: 2em;
}

.mag .article.featured {
    grid-column: span 4;
}

.mag .article.huge {
    grid-column: span 6;
}

.mag .article .media {
    position: relative;
    overflow: hidden;
    border-radius: 0.3em;
    box-shadow: 0 0 0.5em 0 rgba(0,0,0,0.4);
    margin-bottom: 1em;
}

.mag .article .media:before {
    display: block;
    content: '';
    padding-top: 56.25%;
}

.mag .article .media img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

